<!doctype html>
<html ng-app="ProSoftFrontend">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style/main.css"></link>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="libs/moment.min.js"></script>

    <script src="app/app.js"></script>
    <!-- COMPONENTS -->
    <script src="app/components/year-component.js"></script>
    
    <!-- SERVICES -->
    <script src="app/services/holiday-service.js"></script>

  </head>
  <body ng-controller="mainAppController as vm">
    <div class="container" ng-show="vm.editParams">
      <!-- DATA FORM CONTENT -->
      <div class="row">
        <div ng-include="'app/components/data-form.html'"></div>
      </div>
      
      <div class="row" ng-if="vm.calendarContents">
        <year-component ng-repeat="year in vm.calendarContents" holiday-provider="year"></year-component>
        <hr>
      </div>

    </div>
</body>
</html>