<form>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Complete information</h3>

      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" name="country" ng-model="vm.country">
          <option ng-repeat="element in vm.countryCodes" value="{{element.code}}">{{element.name}}</option>
        </select>
      </div>  
      
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" ng-model="vm.startDate">
      </div>

      <div class="form-group">
        <label for="days">Year</label>
        <input type="number" class="form-control" id="days" ng-model="vm.days">
      </div>

    </div>
    <div class="panel-footer">
      <button class="btn btn-success" ng-click="vm.go()">Go</button>
    </div>
  </div>    
</form>